.header-format{
    text-align: right;
    background-color:rgb(42, 42, 58);
    height: fit-content;
}

.header__button-format{
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:5px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(36, 63, 112);
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.header__button-size--medium{
    width: 8%;
}

.header__button-size--large{
    width: 14%;
}

.header__button__text{
    line-height: 50px;
    cursor: pointer;
}

.header__text-with-name{
    font-size: larger;
    color: white
}