<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form>
        <div>
            Username:
            <input type="text"/>
        </div>
        <div>
            Contraseña:
            <input type="text" hidden ='true'/>
        </div>
        <div>
            <button type="submit"> Logearse </button>
        </div>
    </form>
  </body>
</html>