<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>
    </head>
    <body>
        <div>
            <h1>Register</h1>
            <form>
                <div>
                    Mail:
                    <input type="text" />
                </div>
                <div >
                    Nombre:
                    <input type="text"/>
                </div>
                <div >
                    Apellido:
                    <input type="text" />
                </div>
                <div >
                    Contraseña:
                    <input type="text" />
                </div>
                <div >
                    Confirmar Contraseña:
                    <input type="text" />
                </div>
                <div>
                    <button type="submit"> Registrarse </button>
                </div>
            </form>
        </div>
    </body>
</html>