.product-details-container__image{
    width: 250px;
    height: 250px;
}
.product-details-container__price{
    font-weight: 500;
}
.product-details-container{
    text-align: center;
}

.product-details-container__warning-message{
    color:red;
}

