.home-page {
  flex-wrap: wrap;
  background: white
}

.home__title-container{
  margin: auto;
  text-align: center;
  padding: 10px
}

.home__title-container__text{
  font-size: x-large;
  font-style: italic;
  font-family: Copperplate, Papyrus, "Times New Roman";

}

.home__products-showroom{
  text-align: center;
}

.home__message-container{
  text-align: center;
}
.home__message-container__text--error{
  color: rgb(139, 0, 0);
}
