
.register-profile-form__message-container{
    text-align: center;
}
.register-profile-form__message-container__text--error{
    color: rgb(139, 0, 0);
}

.register-profile-form__message-container__text--success{
    color:green;
}

.register-profile-form__title-container__text{
    font-size: x-large;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }


.register-profile-form--format{
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.7);
    background-color:  rgba(255, 255, 255, 1);
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    width: 400px;
    height: auto;
    padding: 30px; 
    margin: 0 auto;
    
}

.register-profile-form--center{
    margin:0;
    position:absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%)
    
}

.register-profile-form-field-container-select{
    margin-top: 20px;
}

.register-profile-form-field-container__select{
    margin-left: 20px;
}

.register-profile-form__title-container{
    text-align: center;
    font-size: xx-large;
}
