.login-page{
    background: linear-gradient(rgba(255, 168, 6, 0.753),rgba(255, 251, 42, 0.6));
    height:100%;
    width: 100%;
    position:absolute;
}


.login-form__message-container{
    text-align: center;
}
.login-form__message-container__text--error{
    color: rgb(139, 0, 0);
}

.login-form__title-container{
    text-align: center;
    font-size: xx-large;
}

.login-form__title-container__text{
    font-size: x-large;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }


.login-form--format{
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 30px; 
    margin: 0 auto;
    
}

.login-form--center{
    margin:0;
    position:absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%)
    
}

