@use '../../sharedStyles/buttonsStyles.scss';

.add-product-container{
    text-align: center
}

.add-product-container__button{
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:5px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(36, 63, 112);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 16%;
    border-style: none;
}