.product_manage-container__image {
  min-height: 100%;
  max-height: 100%;
  min-width: 15%;
  max-width: 15%;
  float: left;
}

.product_manage-container {
  /* Solución temporal para hacer que ocupe todo el ancho de la página dos productos*/
  width: 49.84%;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.product_manage-container__icon {
  float: right;
  cursor: pointer;
  color: black
}
