$headerButtonColorOnHover: rgb(2, 146, 190);
$headerButtonColorDefault: rgb(36, 63, 112);
$headerButtonTextColor: white;
$headerBackgroundColor: rgb(42, 42, 58);

.header-format {
  text-align: right;
  background-color: $headerBackgroundColor;
  height: fit-content;
}

.header__button-format {
  font-family: "Lucida Console", Verdana, Geneva, Tahoma, sans-seriff;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(
    $headerButtonColorOnHover,
    $headerButtonColorOnHover
  );
  background-position: center;
  background-size: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
  background-color: $headerButtonColorDefault;
  color: $headerButtonTextColor;
  cursor: pointer;
}

.header__button-format:hover, .active{
  background-position: center;
  background-size: 100%;
}

.header__button-format:visited{
  background-size: 0%;
  background-position: center;
}

.header__button-size--medium {
  width: 8%;
}

.header__button-size--large {
  min-width: fit-content;
  width: 14%;
}

.header__button__text {
  line-height: 50px;
  cursor: pointer;
}

.header__text-with-name {
  font-size: larger;
  color: $headerButtonTextColor;
}

.header-container__icon {
  cursor: pointer;
  color: $headerButtonTextColor;
  margin-top: 15px;
}
