.secret-field-container{
    margin-top: 15px;
}

.secret-field-container__input{
    background:transparent;
    border: none;
    width: 94%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.secret-field-container__icon{
    text-align: right;
}