$buttonColor: rgb(36, 63, 112);
$buttonTextColor: rgb(255, 255, 255);
$buttonTopBottomMargin: 10px;

.button{
    display:inline-block;
    margin-top: $buttonTopBottomMargin;
    margin-bottom: $buttonTopBottomMargin;
    margin-right: 5px;
    border-radius: 30px;
    text-align: center;
    background-color: $buttonColor;
    color: $buttonTextColor;
    cursor: pointer;
    width: 16%;
    border-style: none;
}

