.register-page{
    background: linear-gradient(rgb(1, 51, 80),rgb(0, 29, 124));
    height:100%;
    width: 100%;
    position:absolute;
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
    
}

.register-form--animation{
    animation-name:appear;
    animation-duration: 2s;
}
